<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="/picture/apple1.jpg">

    <title>apple工程行</title>

    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/css/customer.css" rel="stylesheet">
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
      function ajaxFunction(){
      $.ajax({
        type:"POST",
        url:"check",
        dataType:"text",
        data:{
          ID:document.getElementById("name").value
        },
        success: function (data) {
          var htmlMsg = "<select name='phone'>";
          var phone = JSON.parse(data);
          for(index in phone){
            htmlMsg = htmlMsg + " <option value="+phone[index]+">"+phone[index]+"</option>";
          }
          htmlMsg = htmlMsg + " </select>"
          $('#Msg').html(htmlMsg);
        },
        error:function(data){
          $('#Msg').html("<input type='text' name='phone' id='phone' value='error'></input>")
          return false;
        }
      });
    }
    </script>
  </head>
  <body onload="insertText();">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project name</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/project/administer">管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/project/administer/list">全部專案</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{{subject}}</h1>
          <div class="table-responsive">
            <form action={{ router }} method="post" id="myForm" name="myForm" onsubmit="return checkFunction()">
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    {% for titleItem in title %}
                      <th>{{ titleItem }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for a in apple %}
                  <tr>
                    {% for item in a%}
                      <td>{{ item }}</td>
                    {% endfor %}
                    <td><input type="button" value="更新" onclick="updateFunction('{{a.td}}')"></td>
                    <td><input type="button" value="刪除" onclick="deleteFunction('{{a.td}}')"></td>
                  </tr>
                  {% endfor %}
                  <tr>
                    {% for count in title %}
                      {% if count == "projectId"%}
                        {% if router == "/insert/project" %}
                          <td id="tdId"><input type='text' name='projectId' id='textId' value={{countId}}></td>
                        {% endif %}
                      {% endif %}
                      {% if count == "數量" %}
                        <td id="td"></td>
                      {% endif %}
                      {% if count == "name" %}
                        <td>
                          <select name="name" id="name" onclick="ajaxFunction()">
                            {% for data in name %}
        　                     <option value={{data.name}}>{{data.name}}</option>
                            {% endfor %}
                          </select>
                        </td>
                      {% endif %}
                      {% if count == "phone" %}
                        <td id="Msg"></td>
                      {% endif %}
                      {% if count!="數量" && count!="projectId" && count!="name" && count!="phone" && count!="動作"%}
                        <td><input type=text name={{count}} id={{count}} value=""></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              {% if router != null %}
                <input type="submit" value={{ value }} id="submit">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        function updateFunction(a) {
            document.getElementById("textId").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
            document.getElementById("startTime").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
            document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
            document.getElementById("item").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
            document.getElementById("receipt").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
            document.getElementById("money").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
            document.getElementById("endTime").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
            document.getElementById("material").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
            document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
            var phone = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
            document.getElementById("Msg").innerHTML = "<select name='phone' id='phone'><option value="+phone+">"+phone+"</option></select>";
            document.getElementById("myForm").action = "/update/project";
            document.getElementById("submit").value = "修改";
        }

        function deleteFunction(a) {
            document.getElementById("textId").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
            document.getElementById("startTime").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
            document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
            document.getElementById("item").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
            document.getElementById("receipt").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
            document.getElementById("money").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
            document.getElementById("endTime").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
            document.getElementById("material").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
            document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
            var phone = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
            document.getElementById("Msg").innerHTML = "<select name='phone' id='phone'><option value="+phone+">"+phone+"</option></select>";
            document.getElementById("myForm").action = "/delete/project";
            document.getElementById("submit").value = "刪除";
        }
        function checkFunction(){
          if(document.myForm.textId.value=="" || document.myForm.startTime.value=="" || document.myForm.address.value=="" || document.myForm.item.value=="" || document.myForm.receipt.value=="" || document.myForm.money.value=="" || document.myForm.endTime.value==""
              || document.myForm.material.value==""|| document.myForm.name.value==""|| document.myForm.material.phone==""){
            alert("所有欄位都必須填寫");
            return false;
          }
          return true;
        }

        function insertText () {
          placeholder="Search name..."
          document.getElementById("startTime").placeholder = "dd/mm/yyyy";
          document.getElementById("receipt").placeholder = "dd/mm/yyyy";
          document.getElementById("endTime").placeholder = "dd/mm/yyyy";
          document.getElementById('td').innerHTML = document.getElementById("myTable").rows.length - 1;
        }
      </script>
  </body>
</html>
