<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/picture/apple1.jpg">
    <title>汶富工程行</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/css/staff.css" rel="stylesheet">
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
      function employeeFunction(){
      $.ajax({
        type:"POST",
        url:"employeeCheck",
        dataType:"text",
        data:{
          ID:document.getElementById("name").value
        },
        success: function (data) {
          var htmlMsg = "<select name='idCard'>";
          var idCard = JSON.parse(data);
          for(index in idCard){
            htmlMsg = htmlMsg + " <option value="+idCard[index]+">"+idCard[index]+"</option>";
          }
          htmlMsg = htmlMsg + " </select>"
          $('#employee').html(htmlMsg);
        },
        error:function(data){
          $('#employee').html("<input type='text' name='phone' id='phone' value='error'></input>")
          return false;
        }
      });
    }

    function customerFunction(){
      $.ajax({
        type:"POST",
        url:"customerCheck",
        dataType:"text",
        data:{
          ID:document.getElementById("customer").value
        },
        success: function (data) {
          var htmlMsg = "<select name='item' id='item' onclick='getProjectId()'>";
          var item = JSON.parse(data);
          for(index in item){
            htmlMsg = htmlMsg + " <option value="+item[index]+">"+item[index]+"</option>";
          }
          htmlMsg = htmlMsg + " </select>"
          $('#itemTable').html(htmlMsg);
        },
        error:function(data){
          $('#itemTable').html("<input type='text' name='phone' id='phone' value='error'></input>")
          return false;
        }
      });
    }

    function getProjectId(){
      $.ajax({
        type:"POST",
        url:"getProjectId",
        dataType:"text",
        data:{
          customer:document.getElementById("customer").value,
          item:document.getElementById("item").value
        },
        success: function (data) {
          console.log(data);
          $('#projectId').val(data);
        },
        error:function(data){
          $('#project').html("<input type='text' name='phone' id='phone' value='error'></input>")
          return false;
        }
      });
    }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project name</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/administer">管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/administer/information">全體員工資訊</a></li>
            <li><a href="/administer/pay">全體員工薪水</a></li>
            <li><a href="/administer/list">全體員工工作明細</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header" id="title">{{subject}}</h1>
          <div class="table-responsive">
            <form action={{ router }} method="post" id="myForm" name="myForm" onsubmit="return checkFunction()">
              <table  class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    {% for titleItem in title %}
                      <th><label style="width:100px;">{{ titleItem }}</label></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for a in apple %}
                  <tr>
                    {% for item in a%}
                      <td>{{ item }}</td>
                    {% endfor %}
                    {% if subject == "information" || subject == "list" %}
                      <td>
                        <input type="button" value="更新" onclick="updateFunction('{{a.td}}')">
                        <input type="button" value="刪除" onclick="deleteFunction('{{a.td}}')">
                      </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  <tr>
                    {% if subject == "information" || subject == "list" %}
                      {% for count in title %}
                        {% if count == "數量" %}
                          <td id="tdId">{{countId}}</td>
                        {% endif %}
                        {% if count != "數量" && count!="動作" %}
                          {% if count == "date" || count == "birthday" %}
                            <td><input type=text name={{count}} id={{count}} value="" placeholder = "mm/dd/yyyy"></td>
                          {% elseif subject == "list" && count=="name" %}
                            <td>
                              <select name="name" id="name" onclick="employeeFunction()">
                                {% for data in name %}
            　                     <option value={{data.name}}>{{data.name}}</option>
                                {% endfor %}
                              </select>
                            </td>
                          {% elseif subject == "list" && count=="idCard" %}
                            <td id="employee"></td>
                          {% elseif subject == "list" && count=="顧客姓名" %}
                            <td>
                              <select name="customer" id="customer" onclick="customerFunction()">
                                {% for data in customer %}
            　                     <option value={{data.name}}>{{data.name}}</option>
                                {% endfor %}
                              </select>
                            </td>
                          {% elseif subject == "list" && count=="工程名稱" %}
                            <td id="itemTable"></td>
                          {% elseif subject == "list" && count=="projectId" %}
                            <td id="projectTable"><input type='text' name='projectId' id='projectId'></td>
                          {% else %}
                            <td><input type=text name={{count}} id={{count}} value=""></td>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tr>
                </tbody>
              </table>
              {% if subject == "information" || subject == "list" %}
                {% if router != null %}
                  <input type="submit" value={{ value }} id="submit">
                {% endif %}
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function updateFunction(a) {
        if($('.sub-header').text() == "information"){
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data=="true" ? 1 : 0;
          document.getElementById("age").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("experience").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("phone").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
          document.getElementById("specialty").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
          document.getElementById("company").value = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
          document.getElementById("myForm").action = "/update/information";
          document.getElementById("submit").value = "修改";
        }
        if($('.sub-header').text() == "list"){
          document.getElementById("employee").innerHTML = "<input type='text' name='idCard' id='idCard' disabled='true'><input type='hidden' name='idCardData' id='idCardData'>";
          document.getElementById("itemTable").innerHTML = "<input type='text' name='item' id='item' disabled='true'>";
          document.getElementById("projectTable").innerHTML = "<input type='text' name='projectId' id='projectId' disabled='true'><input type='hidden' name='projectIdData' id='projectIdData'>";
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("customer").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
          document.getElementById("item").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("projectId").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("date").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("hours").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("idCardData").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("projectIdData").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("myForm").action = "/update/list";
          document.getElementById("submit").value = "修改";
        }
      }

      function deleteFunction(a) {
        if($('.sub-header').text() == "information"){
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data ? 1 : 0;
          document.getElementById("age").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("experience").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("phone").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
          document.getElementById("specialty").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
          document.getElementById("company").value = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
          document.getElementById("myForm").action = "/delete/information";
          document.getElementById("submit").value = "刪除";
        }
        if($('.sub-header').text() == "list"){
          document.getElementById("employee").innerHTML = "<input type='text' name='idCard' id='idCard' disabled='true'><input type='hidden' name='idCardData' id='idCardData'>";
          document.getElementById("itemTable").innerHTML = "<input type='text' name='item' id='item' disabled='true'>";
          document.getElementById("projectTable").innerHTML = "<input type='text' name='projectId' id='projectId' disabled='true'><input type='hidden' name='projectIdData' id='projectIdData'>";
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("customer").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
          document.getElementById("item").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("projectId").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("date").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("hours").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("idCardData").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("projectIdData").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("myForm").action = "/delete/list";
          document.getElementById("submit").value = "刪除";
        }
      }

      function checkFunction(){
        if(document.myForm.name.value=="" || document.myForm.sex.value=="" || document.myForm.old.value=="" || document.myForm.birthday.value==""){
          alert("所有欄位都必須填寫");
          return false;
        }
        return true;
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/holder.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
