<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/picture/apple1.jpg">
    <title>apple工程行</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/css/staff.css" rel="stylesheet">
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body onload="insertText();">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project name</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/administer">管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/administer/information">全體員工資訊</a></li>
            <li><a href="/administer/pay">全體員工薪水</a></li>
            <li><a href="/administer/list">全體員工工作明細</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header" id="title">{{subject}}</h1>
          <div class="table-responsive">
            <form action={{ router }} method="post" id="myForm" name="myForm" onsubmit="return checkFunction()">
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    {% for titleItem in title %}
                      <th>{{ titleItem }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for a in apple %}
                  <tr>
                    {% for item in a%}
                      <td>{{ item }}</td>
                    {% endfor %}
                    {% if subject == "information" || subject == "list" %}
                      <td><input type="button" value="更新" onclick="updateFunction('{{a.td}}')"></td>
                      <td><input type="button" value="刪除" onclick="deleteFunction('{{a.td}}')"></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  <tr>
                    {% if subject == "information" || subject == "list" %}
                      {% for count in title %}
                        {% if count == "數量" %}
                          <td id="tdId">{{countId}}</td>
                        {% endif %}
                        {% if count != "數量" && count!="動作"%}
                          {% if count == "date" %}
                            <td><input type=text name={{count}} id={{count}} value="" placeholder = "dd/mm/yyyy"></td>
                          {% elseif subject == "list" && count=="name" %}
                            <td></td>
                          {% else %}
                            <td><input type=text name={{count}} id={{count}} value=""></td>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tr>
                </tbody>
              </table>
              {% if subject == "information" || subject == "list" %}
                {% if router != null %}
                  <input type="submit" value={{ value }} id="submit">
                {% endif %}
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      // document.getElementById("tId").text = document.getElementById("myTable").rows.length;
      function updateFunction(a) {
        if($('.sub-header').text() == "information"){
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data=="true" ? 1 : 0;
          document.getElementById("age").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("experience").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("phone").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
          document.getElementById("specialty").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
          document.getElementById("company").value = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
          document.getElementById("myForm").action = "/update/information";
          document.getElementById("submit").value = "修改";
        }
        if($('.sub-header').text() == "list"){
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("projectId").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
          document.getElementById("date").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("hours").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("myForm").action = "/update/list";
          document.getElementById("submit").value = "修改";
        }
      }

      function deleteFunction(a) {
        if($('.sub-header').text() == "information"){
          document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data ? 1 : 0;
          document.getElementById("age").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("experience").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[6].firstChild.data;
          document.getElementById("address").value = document.getElementById("myTable").rows[a].cells[7].firstChild.data;
          document.getElementById("phone").value = document.getElementById("myTable").rows[a].cells[8].firstChild.data;
          document.getElementById("specialty").value = document.getElementById("myTable").rows[a].cells[9].firstChild.data;
          document.getElementById("company").value = document.getElementById("myTable").rows[a].cells[10].firstChild.data;
          document.getElementById("myForm").action = "/delete/information";
          document.getElementById("submit").value = "刪除";
        }
        if($('.sub-header').text() == "list"){
          document.getElementById("idCard").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
          document.getElementById("projectId").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
          document.getElementById("date").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
          document.getElementById("hours").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
          document.getElementById("myForm").action = "/delete/list";
          document.getElementById("submit").value = "刪除";
        }
      }

      function checkFunction(){
        if(document.myForm.name.value=="" || document.myForm.sex.value=="" || document.myForm.old.value=="" || document.myForm.birthday.value==""){
          alert("所有欄位都必須填寫");
          return false;
        }
        return true;
      }

      function insertText () {
        document.getElementById("birthday").placeholder = "dd/mm/yyyy";
        // document.getElementById('tdId').innerHTML = document.getElementById("myTable").rows.length - 1;
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/holder.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
